body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    border: solid, 2px, white;
    height: 640px;
    width: 640px;
}

#container .square {
    flex: auto;
    aspect-ratio: 1/1;
    box-sizing: border-box;
}